<style>
  .compass {
    width: 80px;
    height: 80px;
    border: 3px solid black;
  }

  .pointer {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    transform-origin: center 40px;
  }

  .column--center { align-items: center; justify-content: center }
  .flex--grow { flex-grow: 1 }
</style>

<div class="layout layout--col">
  {% assign metar = features.first.properties %}
  
  <div class="columns columns--center flex--grow">
    <div class="grid grid--cols-4">
      <div class="col--span-1" style="align-items: center">
        {% render "compass", metar: metar, class: "gap--xsmall", wspd: "value--xxsmall", wdir: "value--xxsmall" %}
      </div>
      <div class="col--span-3">
        <div class="grid grid--cols-3">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{{ metar.fltcat }}</div>
              <div class="label label--small">Category</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{% render "temp", c: metar.temp %}</div>
              <div class="label label--small">Temp.</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{% render "temp", c: metar.dewp %}</div>
              <div class="label label--small">Dewpoint</div>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{% render "altimeter", mb: metar.altim %}</div>
              <div class="label label--small">Altimeter</div>
            </div>
          </div>
          
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="value value--xxsmall">{% render "visibility", sm: metar.visib %}</div>
              <div class="label label--small">Visibility</div>
            </div>
          </div>

          {% if metar.cldBas1 %}
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="content">
                {% render "clouds", metar: metar, class: "value--xxsmall" %}
                <div class="label label--small">Clouds</div>
              </div>
            </div>
          {% else %}
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="content">
                <div class="label label--small">Clear sky</div>
              </div>
            </div>
          {% endif %}
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img
    class="image"
    src="https://usetrmnl.com/images/plugins/trmnl--render.svg"
  />
  <span class="title">{{ metar.id }}</span>
  <span class="instance">{{ metar.obsTime | date: "%H:%MZ" }}</span>
</div>